<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link active" href="{{ path('homepage') }}" id="home_menu">
                    LaLiga HOME</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('clubs') }}" id="club_menu">
                    CLUBS CON SYMFONY</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('jugadores') }}" id="jugador_menu">
                    JUGADORES CON SYMFONY</a></li>

        </ul>
    </div>
</nav>