{% set url_base = api_service.getUrl() %}
<input type="text" id="url_base" value={{ url_base }} hidden>

{% set url_homepage = url('homepage') %}
<input type="text" id="url_homepage" value={{ url_homepage}} hidden>

{% set url_post_jugador = url('postjugador') %}
<input type="text" id="url_post_jugador" value={{ url_post_jugador ~'/' }} hidden>

{% set url_clubs = url('clubs') %}
<input type="text" id="url_clubs" value={{ url_clubs ~'/' }} hidden>

{% set url_jugadores = url('jugadores') %}
<input type="text" id="url_jugadores" value={{ url_jugadores ~'/' }} hidden>

{% set url_jugadores_club = url('jugadoresclub') %}
<input type="text" id="url_jugadores_club" value={{ url_jugadores_club ~'/'}} hidden>
