{% extends 'base.html.twig' %}
{% block title %}CLUBS{% endblock %}
{% block body %}
    {{ form_start(form_club) }}
    {{ form_errors(form_club) }}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            {{ form_label(form_club.name) }}
            {{ form_errors(form_club.name) }}
            {{ form_widget(form_club.name) }}
        </div>

        <div class="col-md-3">
            {{ form_label(form_club.city) }}
            {{ form_errors(form_club.city) }}
            {{ form_widget(form_club.city) }}
        </div>

        <div class="col-md-3">
            {{ form_label(form_club.year) }}
            {{ form_errors(form_club.year) }}
            {{ form_widget(form_club.year) }}
        </div>
        <div class="col-md-1">
            {{ form_widget(form_club.submit, { 'label': 'Filtrar' }) }}
        </div>
        <div class="col-md-1"></div>
    </div>
    {{ form_end (form_club) }}
    <div class="container-fluid">
        <div id="title">
            <h1>LISTADO DE CLUBS</h1>
        </div>

        <div class="table-responsive" id="tabla_clubs">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Foundation year</th>
                    <th scope="col">
                        <button type="button" class="btn btn-warning" id="hide_players">Ocultar jugadores</button>
                        <button type="button" class="btn btn-success" id="show_players">Mostrar jugadores</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for club in clubs %}

                <tr>
                    <th scope="row">{{ club.id }}</th>
                    <td>{{ club.name }}</td>
                    <td>{{ club.city }}</td>
                    <td>{{ club.foundation_year }}</td>
                    <td>
                        <div class="jugadores_club">
                            {% for jugador in club.jugadores %}
                                <p>{{ jugador.name }} - {{ jugador.nickname }} - {{ jugador.position }}</p>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/club.js') }}"></script>
{% endblock %}