{% extends 'base.html.twig' %}

{% block title %}CLUBS{% endblock %}
{% block body %}

    <fieldset>
        <div class="row" id="search">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label for="name_club">Name: </label>
                <input type="text" name="name_club" id="name_club" class="input_club" value=""/>
            </div>
            <div class="col-md-3">
                <label for="city_club">City: </label>
                <input type="text" name="city_club" id="city_club" class="input_club" value=""/>
            </div>
            <div class="col-md-3">
                <label for="year_club">Year: </label>
                <input type="text" name="year_club" id="year_club" class="input_club" value=""/>
            </div>
            <div class="col-md-1"></div>
        </div>
    </fieldset>

    <p></p>


    <div class="container-fluid">
        <div id="title">
            <h1>LISTADO DE CLUBS CON JQUERY</h1>
        </div>

        <div class="table-responsive" id="tabla_clubs_jquery">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Foundation year</th>
                    <th scope="col">Insert Player</th>
                    <th scope="col">
                        <button type="button" class="btn btn-warning" id="hide_players">Ocultar jugadores</button>
                        <button type="button" class="btn btn-success" id="show_players">Mostrar jugadores</button>
                    </th>
                </tr>
                </thead>
                <tbody id="listado_clubs">
                </tbody>

            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/clubjquery.js') }}"></script>
{% endblock %}
