{% extends 'base.html.twig' %}

{% block title %}JUGADORES{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="container-fluid">
            <div id="title">
                <h1>LISTADO DE JUGADORES</h1>
            </div>

            <div class="table-responsive" id="tabla_clubs">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Nickname</th>
                        <th scope="col">Position</th>
                        <th scope="col">Club</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for jugador in jugadores %}
                    {% set club = jugador.club %}
                    <tr>
                        <th scope="row">{{ jugador.id }}</th>
                        <td>{{ jugador.name }}</td>
                        <td>{{ jugador.nickname }}</td>
                        <td>{{ jugador.position }}</td>
                        <td>{{ club.id }} - {{ club.name }} </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
