{% extends 'base.html.twig' %}
{% block title %}JUGADORES{% endblock %}
{% block body %}
    <div id="title">
        <h1>INTRODUZCA LOS DATOS DEL JUGADOR (Hecho con form de symfony)</h1>
        <h1></h1>
    </div>
<div class="form-inline">
    {{ form_start(form_jugador) }}
    {{ form_errors(form_jugador) }}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            {{ form_label(form_jugador.name) }}
            {{ form_errors(form_jugador.name) }}
            {{ form_widget(form_jugador.name) }}
        </div>
        {##}
        <div class="col-md-3">
            {{ form_label(form_jugador.nickname) }}
            {{ form_errors(form_jugador.nickname) }}
            {{ form_widget(form_jugador.nickname) }}
        </div>
        {##}
        <div class="col-md-3">
            {{ form_label(form_jugador.position) }}
            {{ form_errors(form_jugador.position) }}
            {{ form_widget(form_jugador.position) }}
        </div>
        <div class="col-md-1">
            {{ form_widget(form_jugador.submit, { 'label': 'Guardar' }) }}
        </div>
    </div>
    {{ form_end (form_jugador) }}
</div>
    <div>
        <hr/>
    </div>

    <div id="title">
        <h1>INTRODUZCA LOS DATOS DEL JUGADOR (Hecho con jQuery)</h1>
        <h1></h1>
    </div>

    <div class="form-inline">
        <div class="row" id="search">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label for="name_player">Name: </label>
                <input type="text" name="name_player" id="name_player" class="input_player" value=""/>
            </div>
            <div class="col-md-3">
                <label for="nickname_player">Nickname: </label>
                <input type="text" name="nickname_player" id="nickname_player" class="input_player" value=""/>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="position_player">Position</label>
                    <select class="form-control input_player" name="position_player" id="position_player">
                        <option>portero</option>
                        <option>defensa</option>
                        <option>medio</option>
                        <option>delantero</option>
                    </select>
                </div>
            </div>
            <input type="text" id="id_club" class="input_player" value={{ idClub }} hidden>
            <div class="col-md-1">
                <button type="button" class="btn btn-success" id="add_player">Guardar</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jugadores_post.js') }}"></script>
{% endblock %}
