{% extends 'base.html.twig' %}
{% block title %}JUGADORES{% endblock %}
{% block body %}
    {{ form_start(form_jugador) }}
    {{ form_errors(form_jugador) }}
<div class="row">
    <div    class="col-md-1"></div>
    <div class="col-md-3">
        {{ form_label(form_jugador.name) }}
        {{ form_errors(form_jugador.name) }}
        {{ form_widget(form_jugador.name) }}
    </div>

    <div class="col-md-3">
        {{ form_label(form_jugador.nickname) }}
        {{ form_errors(form_jugador.nickname) }}
        {{ form_widget(form_jugador.nickname) }}
    </div>

    <div class="col-md-3">
        {{ form_label(form_jugador.position) }}
        {{ form_errors(form_jugador.position) }}
        {{ form_widget(form_jugador.position) }}
    </div>
    <div    class="col-md-1">
        {{ form_widget(form_jugador.submit, { 'label': 'Filtrar' }) }}
    </div>
    <div    class="col-md-1"></div>
</div>
    {{ form_end (form_jugador) }}
    <div class="container-fluid">
        <div id="title">
            <h1>LISTADO DE JUGADORES</h1>
        </div>

        <div class="table-responsive" id="tabla_clubs">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">Position</th>
                    <th scope="col">Club</th>
                </tr>
                </thead>
                <tbody>
                {% for jugador in jugadores %}
                {% set club = jugador.club %}
                <tr>
                    <th scope="row">{{ jugador.id }}</th>
                    <td>{{ jugador.name }}</td>
                    <td>{{ jugador.nickname }}</td>
                    <td>{{ jugador.position }}</td>
                    <td>{{ club.id }} - {{ club.name }} </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
